name: CI

on: pull_request

jobs:
  build:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build and Test
      run: ci/run.sh
      env:
        DEVELOPER_DIR: /Applications/Xcode_11.1.app/Contents/Developer
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
